PORT=5000

# MockAPI base URL (replace with your own if needed)
MOCKAPI_BASE_URL=https://6881b47c66a7eb81224b93dd.mockapi.io/api/p1

# Admin credentials (used for /api/auth/login)
ADMIN_USERNAME=admin
ADMIN_PASSWORD=yourpassword
